body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

div {
  border: 1px solid black;
  margin: 12px;
}

#main-container {
  display: grid;
  grid-template-rows: 10rem 10rem 30rem 8rem;
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-areas:
    "a b c"
    "d e f "
    "g . h "
    "i j l";
}
#first-block {
  background-color: red;
  height: 4rem;
  grid-area: 0;
}

.blue-block-1 {
  background-color: blue;
  grid-area: a;
}
.blue-block-4 {
  background-color: blue;
  grid-area: d;
}

.yellow-block-2 {
  background-color: yellow;
  grid-area: b;
}

.yellow-block-5 {
  background-color: yellow;
  grid-area: e;
}

.green-block-3 {
  background-color: green;
  grid-area: c;
}
.green-block-6 {
  background-color: green;
  grid-area: f;
}

.black-block-7 {
  background-color: black;
  color: white;
  grid-area: g;
}

.black-block-8 {
  background-color: black;
  color: white;
  grid-area: h;
}

.white-block-9 {
  background-color: white;
  grid-area: i;
}
.white-block-10 {
  background-color: white;
  grid-area: j;
}
.white-block-11 {
  background-color: white;
  grid-area: l;
}

@media (max-width: 800px) {
  #main-container {
    display: grid;
    grid-template-rows: 10rem 10rem 10rem 10rem 20rem 8rem;
    grid-template-columns: 50% 50%;

    grid-template-areas:
      " a  b "
      "c c"
      "d e"
      "f f"
      "g h"
      "i j"
      "l l";
  }
}

@media (max-width: 600px) {
  #main-container {
    display: grid;
    grid-template-rows: repeat(11, 10rem);
    grid-template-columns: 100%;

    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "h"
      "i"
      "j"
      "l";
  }
}
