.bigcard-container {
    display: flex;
    align-items: center;
    border: 1px solid rgb(211, 211, 211);
    box-shadow: -11px 14px 14px -4px rgba(0,0,0,0.13);
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 200px;
    background-color: white;


}

.bigcard-container > img {
    width: 70px;
    margin-right: 10px;
    border-radius: 50%;
}

.bigcard-container h4 {
    margin-bottom: 15px;
}

.bigcard-container > div {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}