.endereco-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(211, 211, 211);
    box-shadow: -11px 14px 14px -4px rgba(0,0,0,0.13);
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 200px;
    background-color: white;

}
.endereco-container > img {
    width: 100px;
    margin-right: 10px;
    border-radius: 50%;
}


.endereco-container h4 {
    margin-bottom: 15px;
}

.endereco-container > div {
    display: flex;
    flex-direction: column;
    justify-content:center;
    justify-items: flex-start;
}