body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;~

}

#main-container{
    text-align:center;

}

#top-container{
    display:flex;
    height: 50px;
<<<<<<< HEAD

=======
    
>>>>>>> d0bda2cc4fb47fdcc92f8775158f38762fd9ba74
}
.green-background {
    background-color: green;
    width:20%;
    padding-top:1rem;
}

.yellow-background {
    background-color: yellow;
    width:80%;
    padding-top:1rem;

}

.pink-background {
    background-color: fuchsia;
    height:500px;
<<<<<<< HEAD




=======
    
    
 
    
>>>>>>> d0bda2cc4fb47fdcc92f8775158f38762fd9ba74
}

#middle-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.blue-background {
    background-color: blue;
    width:50rem;
    height:160px;
<<<<<<< HEAD

=======
    
>>>>>>> d0bda2cc4fb47fdcc92f8775158f38762fd9ba74
}

#vertical-middle-container{
display:flex;
flex-direction:column;
width:20rem;


}

.red-background {
    background-color: red;
    height: 80px;
<<<<<<< HEAD

=======
    
>>>>>>> d0bda2cc4fb47fdcc92f8775158f38762fd9ba74

}

.lightgreen-background {
    background-color: lightgreen;
    height: 80px;


}

.purple-background {
    background-color: purple;
    height:54px;
<<<<<<< HEAD
} 
=======
}
>>>>>>> d0bda2cc4fb47fdcc92f8775158f38762fd9ba74
