@media(max-width:560px){

    nav{
        height:10rem;
        flex-direction:column;
        justify-content: center;        
    }
    nav span{
        margin-right:1.5rem;
    }
    #search{
        margin-top:1rem;
        height:2rem;
        width:15rem;
    }

    figure{
        margin-left:1rem;
        margin-right:1rem;
    }


   

}