/*GERAL*/
body {
  margin: 0%;
  font-family:"poppins";
}

a {
  text-decoration: none;
  color:black;
}


  /*PESQUISAR MELHOR SOBRE @FONT-FACE*/

  @font-face{
    font-family: "poppins";
    src:url("font/poppins/Poppins-Regular.ttf");
  }

main {
  display: flex;
  flex-direction: row;
}


/*DIREITA--MENU*/
nav {
  height: 6rem;
  position:fixed;
  width:100%;
  background:black;
  padding-top: 0.8rem;

}

nav span img{
  width:4rem;
  height:4rem;
  margin-left:10rem;
  
  
}
nav span{
  color:white;
 

 
}

#nav-detail img{
  width:4rem;
  height:3rem;
  margin-left:12rem;
  margin-bottom:0.5rem;
 

}
#nav-portfolio{
  position:relative;
  top:1.5rem;
  right:4.2rem;
}

nav a {
color:white;
margin-right:4rem;

}

#nav-full{
  float:right;
  margin-top:1.5rem;


}
 

section {
  height: 100rem;
}

/*ESQUERDA-GERAL*/

#leftSection {
  margin-top:9rem;
  width: 30rem;
  position:fixed;
  background: white;
}

/*ESQUERDA--CONTEUDO*/

#back_bauhaus {
  background: url(img/yellow-box.jpg);
  background-repeat: no-repeat;
  background-size: 11rem 13rem;
  background-position-x: 5rem;
  background-position-y: 2rem;
}

#back_bauhaus img {
  width: 10rem;
  height: 10rem;
  margin-left: 9rem;
  margin-top: 1rem;
}

#leftSection h3 {
  margin-right: 2rem;
  margin-top: 2rem;
  text-align: center;
}

#leftSection p {
  text-align: center;
}
/* ESQUERDA--CONTEUDO--SKILLS
*/

#leftSection ul {
  margin-left: 5rem;
  background: url(img/yellow-box.jpg);
  background-size: 6rem 4rem;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
}

ul {
  list-style: none;
  margin-bottom:1rem;
}
li {
  margin-left: -2rem;
}

/*ESQUERDA--CONTEUDO--LINKS*/

footer {
  text-align: center;
  margin-top:2rem;
}
footer img {
  width: 3rem;
}

/*
---------------------------------------------------------------------------------------------------------
DIREITA */

#rightSection {
  margin-left: 32rem;
  margin-right: 2rem;
}

/**DIREITA--CONTEUDO/




/*DIREITA--ABOUT*/
#rightSection article {
  margin-top: 5rem;
  margin-left: 1rem;
}
#rightSection h1,
h2 {
  font-size: 1.5rem;
}
#titleAbout {
  padding-top: 2rem;
}

#marcador {
  font-weight: bolder;
}
#text-icon {
  width: 1rem;
}

/*DIREITA--EXPERIÊNCIA*/

#experiencia {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#experiencia_educacao {
  margin-top: 3rem;
}
#experiencia_job {
  margin-top: 3rem;
}

/*DIREITA--PROJETOS*/

#titleBauhaus h2 {
  padding-top: 3rem;
}

#container-gallery {
  display: flex;
  justify-content: space-between;
}

.projects {
  margin-top: 3rem;
  width: 20rem;
  height: 24rem;
}
figure {
  text-align: center;
}

figcaption p {
  margin-top: 1px;
}

figcaption b {
  font-size: 18px;
}

/*DIREITA--CONTEUDO--CONTATO*/

form {
  text-align: center;
}

form p {
  margin-top: -1.5rem;
}

form img {
  position: relative;
  top: 0.75rem;
  width: 3rem;
}

textarea {
  margin-top: 2rem;
}
