body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

#main-container{
    text-align: center;
}

#top-container{
    display:grid;
    grid-template-columns: 10% 90%;
    grid-template-rows:50px;
}

.green-background {
    background-color: green;
}

<<<<<<< HEAD
=======
.yellow-background {
    background-color: yellow;
}
>>>>>>> d0bda2cc4fb47fdcc92f8775158f38762fd9ba74

.pink-background {
    background-color: fuchsia;
    height:500px;
}
#middle-container{
    display:grid;
    grid-template-columns: 40% 30% 30% ;
}

.blue-background {
    background-color: blue;
    height:160px;
}

#vertical-middle-container{
    display:grid;
    grid-template-rows: 50% 50%;

}
.red-background {
    background-color: red;
    height:100%;


}

.lightgreen-background {
    background-color: lightgreen;
    height:100%;

}

.purple-background {
    background-color: purple;
    height: 54px;
<<<<<<< HEAD
} 
=======
}
>>>>>>> d0bda2cc4fb47fdcc92f8775158f38762fd9ba74
